[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework = "*"
djoser = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
drf-nested-routers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
redis = "*"
flower = "*"
django-templated-mail = "*"
pytest-watch = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
waitress = "*"
dj-database-url = "*"
django-silk = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
autopep8 = "*"
model-bakery = "*"
pytest-watch = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.10"
